@page "/counter"
@using MvvmLightCore.Binder
@using SampleViewModel.Counter
@using System.ComponentModel
@inherits BlazorComponentExtension.MvvmComponent.MvvmComponentBase
<PageTitle>Counter</PageTitle>


<h1>Counter</h1>

<p role="status">Current count: @(Bind<CounterViewModel,int>(counterVM, x=>x.Counter))</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    [Inject]
    public CounterViewModel? counterVM { get; set; }

    private void IncrementCount()
    {
        if (this.counterVM != null)
        {
            this.counterVM.Counter++;
        }
    }

    protected override void PropertyChangedEventHandler(object? sender, PropertyChangedEventArgs e)
    {
        base.PropertyChangedEventHandler(sender, e);
        //Add code if further processing is required.
    }

}
